* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(213, 243, 245);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    position: relative;
    top: 20px;
}

.container {
    width: 900px;
    height: 508px;
    
    position: relative;
    top: 50px;
}

img {
    width: 400px;
    box-shadow: 0px 0px 20px 0px black;
}

#img1 {
    position: relative;
    right: 0px;
}

#img2 {
    position: relative;
    right: -96px;
}

#img3 {
    position: relative;
    bottom: -50px;
}

#img4 {
    position: relative;
    right: -96px;
    bottom: -50px;
}